{% extends 'base.html' %}
{% block active_playlistGenerator %}text-white{% endblock %}
{% block content %}

    <div class="loading">
        <div>
            <h2>Nous générons la playlist, cela peut prendre quelques minutes...</h2>
        </div>

        <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>


    <div class="col-8 offset-2 pt-2 pb-5">
        <h1>{% block title %}Playlist Generator{% endblock %}</h1>
        <form method="get" name="search">
            <input class="form-control" type="text" id="query" name="query" placeholder="Search..." autocomplete="off">
        </form>
    </div>

    {% if context['artists'] %}
        <div class="d-flex justify-content-between">
            {% for artist in context['artists'] %}
                <div class="div-artist m-2 rounded"
                     onclick="location.href='{{ url_for('artist_data', artist_id=artist.id) }}'" data-bs-toggle="modal"
                     data-bs-target="#modalArtist{{ loop.index }}"
                     style="width: 200px; cursor: pointer;">
                    <div class="pt-3 text-center">
                        {% if artist.has_images() %}
                            <img class="rounded-circle" src="{{ artist.get_image_url_large() }}"
                                 height="150"
                                 width="150">
                        {% else %}
                            <img src="{{ url_for('static', filename="images/artist_image.png") }}"
                                 height="150"
                                 width="150">
                        {% endif %}
                    </div>
                    <div class="px-3 pt-3 pb-2">
                        <h6 class="text-white fw-bold">{{ artist.name }}</h6>
                        <p class="spotify_grey_color">Artiste</p>
                    </div>
                </div>
                {% if loop.index%5 == 0 %}
                    </div>
                    <div class="d-flex justify-content-between">
                {% endif %}
                <div class="modal" id="modalArtist{{ loop.index }}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <form method="POST">
                                <div class="modal-header">
                                    <h5 class="modal-title">Génération de la playlist</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-center">
                                    {% if artist.has_images() %}
                                        <img class="rounded" src="{{ artist.get_image_url_large() }}"
                                             height="250"
                                             width="250">
                                    {% else %}
                                        <img src="{{ url_for('static', filename="images/artist_image.png") }}"
                                             height="250"
                                             width="250">
                                    {% endif %}
                                    <h5>{{ artist.name }}</h5>
                                    <input name="artistURI" type="hidden" required="required"
                                           value="{{ artist.uri }}">
                                    <label>Nom de la playlist à générer</label>
                                    <input name="playlistName" type=text" required="required"
                                           placeholder="Entrer le nom de la playlist..."
                                           value="All tracks - {{ artist.name }}">
                                    <label>Description de la playlist à générer</label>
                                    <textarea name="playlistDescription"
                                              placeholder="Entrer la description de la playlist">Autogenerated by playlistGenerator</textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success generateButton"
                                            data-bs-dismiss="modal">Générer
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
    {% endif %}

    <script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
{% endblock %}